span{
   font-weight: bolder;
   font-size: 18px
}
img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
li{
    margin: 5px;
}
.recipe__container{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    min-width: 40%;
    padding: 20px;
}