body{
    margin: 0;
}
::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
    padding: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #454545;
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.App{
   min-height: 100vh;
   background-image:url('https://i.ibb.co/2crD7wq/pexels-lukas-349609.jpg') ;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 50%;
    border: none;
    padding: 10px;
}
.search-btn{
    background: lightcoral;
    border: none;
    padding: 10px 20px;
}
.recipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}